<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0DSKKdyxWtVLMiwi3L5i3wNivu5IEYMc</string>
	<key>GCM_SENDER_ID</key>
	<string>662151417141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pigon</string>
	<key>PROJECT_ID</key>
	<string>watnow-hackathon-pigon</string>
	<key>STORAGE_BUCKET</key>
	<string>watnow-hackathon-pigon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662151417141:ios:fec686eaf3c43fc8a6907c</string>
</dict>
</plist>